.formRadio {
    min-width: 280px;
    min-height: 120px;
    background-color: #f5d8d754;
    border: 2px solid #46b4a2cc;
    border-radius: 5px;
}

.formRadio__labelText {
    width: 100%;
    max-width: 170px;
    padding: 5px;
}

.formRadio__field {
    margin: 5px;
    border: 2px solid #ebf4f5cc;
    padding: 0px 0px;
}

.formNumberBlock {
    background-color: #9ea3a47c;
    border: 2px solid #46b4a2cc;
    border-radius: 5px;
    height: 100px;
}