.formRadio__labelText {
    width: 100%;
    max-width: 170px;
    padding: 5px;
}

.formRadio__field {
    margin: 5px;
    border: 2px solid #ebf4f5cc;
    padding: 0px 0px;
    /* width: 10%; */
    border-radius: 15px;
}