.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 10px;
    width: 365px;
    background-color: #323436a3;
    border: 2px solid #46b4a2cc;
    border-radius: 8px;
}

.section__result {
    margin: 10px;
    min-width: 320px;
}

.section__clock {
    color: rgba(167, 200, 205, 0.752);
}

.section__form {
    display: grid;
    gap: 10px;
}

.section__reset {
    border: 2px solid #46b4a2cc;
    border-radius: 5px;
    background-color: #e4e8eca3;
    margin: 10px;
}