.formNumber {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.formNumber__labelText {
    flex: auto;
}

.formNumber__field {
    border: 2px solid #ebf4f5cc;
    padding: 5px;
    margin: 5px;
    width: 30%;
    border-radius: 5px;
    background-color: #e0cececc;
}