.form__labelText {
    width: 100%;
    max-width: 170px;
    margin: 5px;
}

.form__field {
    margin: 15px;
    border: 2px solid #ebf4f5cc;
    padding: 5px 5px;
    width: 20%;
    min-width: 100px;
    border-radius: 5px;
}